body{
  background-color: black;
  margin: 0;
  padding: 0;
}
.description-texts{
  color: white;
  display: inline-block;
  vertical-align: middle;

  margin-left: 50px;

  cursor: pointer;
  font-size: 20px;
  font-family: monospace;

}
.upper-panel{
  background-color: rgb(30, 30, 30);
  text-align: center;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
}

.project-card{
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-timing-function: ease-in-out;
  transition: 0.25s;
}

.preview-class{
  width: 275px;
  border-radius: 25px;
}

.title-row {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;
}



.info-table {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  
}

.video-name-text{
  color: white;
  font-family: monospace;
  font-size: 20px;
  margin: 0;
  font-weight: 100;

}


h1{
  background-image: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  font-size: 75px;
  font-family: "Mona Sans", sans-serif;
  vertical-align: middle;
  margin-top: 35px;
  margin-bottom: 0px;
  font-weight: 100;
}

h2{
  display: block;
  color: white;
  font-size: 30px;
  font-family:"Bitcount Grid Double";
  margin-top: 45px;
  margin-bottom: 0;
  line-height: 75px;
  max-width: 600px;
  font-weight: 200;
}

small{
  display: inline-block;
  color: rgb(119, 119, 119);
  font-size: 15px;
  font-weight: 100;
  font-family: "Mona Sans", sans-serif;
  text-align: center;
  margin-top: 0;
  vertical-align: middle;
  max-width: 600px; 
}

@font-face {
  font-family: "Bitcount Grid Double";
  src: url("/fonts/BitcountGridDouble.ttf") format("truetype");
  font-weight: 100px;
  font-style: normal;
}
