body{
  background-color: black;
  background-image: url(/images/background.png);
  background-position: 0 0px;

  background-repeat: no-repeat;

  background-size: 100% 100%;
  margin: 0;
  padding: 0;
}
.description-texts{
  color: white;
  display: inline-block;
  vertical-align: middle;

  margin-left: 25px;
  margin-right: 25px;

  cursor: pointer;
  font-size: 20px;
  font-family: monospace;
  transition: 0.25s;
}

.description-texts:hover{
  text-shadow: white 0 0 10px;
}

.upper-panel{
  background-color: rgb(30, 30, 30);
  text-align: center;

}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
}

.project-card{
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-timing-function: ease-in-out;
  transition: 0.25s;
  cursor: pointer;
  border-radius: 25px;
}

.preview-class{
  width: 250px;
  border-radius: 25px 25px 0 0;
}

.title-row {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 8px;
  background-color: rgb(45, 45, 45);
  border-radius: 0 0 25px 25px;
}

.paragraph_type_1{
  text-align: center;

  justify-content: center;
  display: grid;

}

.info-table {
  margin: 0 auto;
  /*max-width: 800px;*/
  text-align: center;
  align-items: center;
  justify-content: center;
  display: block;
  
}

.video-name-text{
  color: white;
  font-family: monospace;
  font-size: 20px;
  margin: 0;
  font-weight: 100;

}

.program_language_icon{
  max-width: 145px;
  max-height: 200px;
  padding-left: 25px;
  padding-right: 25px;
}

p{
  color: white;
  vertical-align: middle;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 20px;
  font-family: monospace;
}

h1{
  /*background-image: linear-gradient(14deg, #ff0000 0%, #0b5ff0 100%);*/
  background-image: linear-gradient(0, white, white);

  font-size: 75px;
  font-family: "Mona Sans";
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
}

.secondary-main-text{

  background-image: none;
  color: white;
  font-size: 30px;
  margin-top: 50px;

}

.EXPERIENCE-icon{
width: 100px; vertical-align:middle; display: inline-block;
border-radius: 25px;
cursor: pointer;
transition: 0.25s;
}

.EXPERIENCE-icon:hover{
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

/*.info-table h1{
  margin-top: 15px;
}*/

h2{

  color: white;
  font-size: 30px;
  font-family:"Bitcount Grid Double";
  margin-top: 45px;
  margin-bottom: 0;
  line-height: 75px;

  font-weight: 500;
}

small{
  display: inline-block;
  color: rgb(119, 119, 119);
  font-size: 15px;
  font-weight: 500;
  font-family: "Mona Sans", sans-serif;
  text-align: center;
  margin-top: 0;
  vertical-align: middle;
  max-width: 600px; 
}

@font-face {
  font-family: "Bitcount Grid Double";
  src: url("/fonts/BitcountGridDouble.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/MonaSans-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}